* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ad9528;
  max-height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.grid-container {
  display: grid;
  grid-gap: 15rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(30, 200px);
  column-gap: 2rem;
  padding: 2rem;
  margin: 4rem;
}

.grid-item {
  display: grid;
  background-color: wheat;
  border: 1px solid;
  border-radius: 10px;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
  max-width: 15rem;
  border-color: #fadb53;
  border-width: 10px;
}

.icon {
  position: flex;
  width: 80px;
  height: 80px;
  margin: 5px;
  padding: 10px;
}

img {
  width: auto;
  height: 200px;
}

img:hover {
  transform: scaleX(-1);
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  border-color: #ffe46e;
  background-color: papayawhip;
  min-height: 30px;
  min-width: 30px;
}

.types {
  display: flex;
  position: relative;
  justify-content: center;
}

.types img {
  transform: none;
}

h3 {
  text-transform: capitalize;
}

.id {
  display: inline-block;
  background-image: url('./media/icons/Pokemon.ico');
  background-size: cover;
  height: 50px;
  width: 50px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-size: xx-large;
}

.id img {
  filter: blur(1000px);
}

.typesNames {
  background-color: #80725c;
  text-transform: capitalize;
  color: #ccb693;
  text-align: center;
  font-size: medium;
}

@media screen and (max-width: 1000px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }

  .grid-item {
    min-height: auto;
    max-width: 20rem;
    align-items: center;
  }
}
